In [1]:
import pandas as pd
df = pd.read_excel("C:\\Users\\lenovo\\Desktop\\trail.xlsx")
df

         date        temp        wind   weather
0  2021-01-01   22.000000   23.000000     Sunny
1  2021-01-02   34.000000   34.000000      snow
2  2021-01-03   65.000000   56.000000     rainy
3  2021-01-04   83.333333   70.666667  overcast
4  2021-01-05  104.833333   87.166667       fog
5  2021-01-06  126.333333  103.666667     Sunny
6  2021-01-07  147.833333  120.166667      snow
7  2021-01-08  169.333333  136.666667     rainy
8  2021-01-09  190.833333  153.166667  overcast
9  2021-01-10  212.333333  169.666667       fog
10 2021-01-11  233.833333  186.166667     Sunny
11 2021-01-12  255.333333  202.666667      snow
12 2021-01-13  276.833333  219.166667     rainy
13 2021-01-14  298.333333  235.666667  overcast
14 2021-01-15  319.833333  252.166667       fog

In [2]:
df.set_index('date',inplace = True)
df

                  temp        wind   weather
date
2021-01-01   22.000000   23.000000     Sunny
2021-01-02   34.000000   34.000000      snow
2021-01-03   65.000000   56.000000     rainy
2021-01-04   83.333333   70.666667  overcast
2021-01-05  104.833333   87.166667       fog
2021-01-06  126.333333  103.666667     Sunny
2021-01-07  147.833333  120.166667      snow
2021-01-08  169.333333  136.666667     rainy
2021-01-09  190.833333  153.166667  overcast
2021-01-10  212.333333  169.666667       fog
2021-01-11  233.833333  186.166667     Sunny
2021-01-12  255.333333  202.666667      snow
2021-01-13  276.833333  219.166667     rainy
2021-01-14  298.333333  235.666667  overcast
2021-01-15  319.833333  252.166667       fog

In [3]:
df.loc['2021-01-14']

temp       298.333333
wind       235.666667
weather      overcast
Name: 2021-01-14 00:00:00, dtype: object

In [4]:
df.loc[input()]

2021-01-15

temp       319.833333
wind       252.166667
weather           fog
Name: 2021-01-15 00:00:00, dtype: object

In [8]:
df.reset_index(inplace  = True)
df

         date        temp        wind   weather
0  2021-01-01   22.000000   23.000000     Sunny
1  2021-01-02   34.000000   34.000000      snow
2  2021-01-03   65.000000   56.000000     rainy
3  2021-01-04   83.333333   70.666667  overcast
4  2021-01-05  104.833333   87.166667       fog
5  2021-01-06  126.333333  103.666667     Sunny
6  2021-01-07  147.833333  120.166667      snow
7  2021-01-08  169.333333  136.666667     rainy
8  2021-01-09  190.833333  153.166667  overcast
9  2021-01-10  212.333333  169.666667       fog
10 2021-01-11  233.833333  186.166667     Sunny
11 2021-01-12  255.333333  202.666667      snow
12 2021-01-13  276.833333  219.166667     rainy
13 2021-01-14  298.333333  235.666667  overcast
14 2021-01-15  319.833333  252.166667       fog

In [10]:
df['date'][df.weather == "overcast"]

3    2021-01-04
8    2021-01-09
13   2021-01-14
Name: date, dtype: datetime64[ns]

In [13]:
df[df.temp == df.temp.max()]

         date        temp        wind weather
14 2021-01-15  319.833333  252.166667     fog

In [18]:
df[['date','wind','temp','weather']][df.temp >= df.temp.mean()]

         date        wind        temp   weather
8  2021-01-09  153.166667  190.833333  overcast
9  2021-01-10  169.666667  212.333333       fog
10 2021-01-11  186.166667  233.833333     Sunny
11 2021-01-12  202.666667  255.333333      snow
12 2021-01-13  219.166667  276.833333     rainy
13 2021-01-14  235.666667  298.333333  overcast
14 2021-01-15  252.166667  319.833333       fog

In [17]:
df.temp.mean()

169.3333333333331